{% set jpg= 'jpg' %}
{# {% set webp = 'webp' %} #}

<div class="a-grid a-grid--4 gallery">
  {% for item in items %}

    {% set jpg= 'jpg' %}
    {% set webp = 'webp' %}
    {% set image = file_url(item['content']['#media'].field_media_image.entity.uri.value) %}

     {% set imageThumb = item['content']['#media'].field_media_image.entity.uri.value|image_style('gallery') %}

    <a href="{{ image }}" title="{{ item.content['#item'].title }}" aria-label="Expand image in a gallery">

    <picture>
      <source data-srcset="{{ imageThumb|replace({ (jpg): webp }) }}" type="image/webp">
      <source data-srcset="{{ imageThumb }}" type="image/jpeg">
      <img src="{{ imageThumb }}" alt="{{ item['content']['#media'].field_media_image[0]['#item'].alt }}" title="{{ content.field_image[0]['#item'].title }}" />
    </picture>

    </a>
  {% endfor %}
</div>
